<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        {% include 'default/scripts&style.html.twig' %}
    </head>
    <body>
    {% include 'default/head.html.twig' %}

    {%  block body %}{% endblock %}

    {% include 'default/footer.html.twig' %}
    </body>
</html>
