
<div id="rightcont">&nbsp</div>
</div>

<div id="footer">

    <div id="fttop"></div>

    <div id="leftcont">&nbsp</div>

    <div id="cent">
        <table>
            <tr>
                <td id="coprft">
                    © 2009 — 2016 «OpenStart» <br/>
                    Мы являемся официальными партнёрами:
                </td>
                <td id="contft">
                    199155, Санкт-Петербург, ул. Уральская, дом 1/2, офис 222<br/>
                    <a id="mail" href="mailto:support@openstart.ru">support@openstart.ru</a>
                </td>
            </tr>
            <tr>
                <td id="logoft">
                    <img src="img/ftlogo.png"/>
                </td>
                <td id="linksft">
                    <img src="img/fb.png" class="socimg"/>
                    <img src="img/vk.png" class="socimg"/>
                    <img src="img/twit.png" class="socimg"/>
                </td>
            </tr>

        </table>
    </div>

    <div id="rightcont">&nbsp</div>

    <div id="ftbot"></div>

</div>
