<div id="leftcont">&nbsp</div>
<div id="cent">
    <table>
        <tr>
            <td rowspan="2" id="logohd"><img src="img/logo.png"/> </td>
            <td id="telhd"><img src="img/telef.png"/></td>
            <td id="mailhd"><a id="mail" href="mailto:support@openstart.ru">support@openstart.ru</a></td>
        </tr>
        <tr>
            <td id="menuhd">
                <ul id="menu">
                    <li><a class="lilink" href="#">ГЛАВНЯ</a></li>
                    <li><a class="lilink" href="#">ОПИСАНИЕ</a></li>
                    <li><a class="lilink" href="#">ПОРТФОЛИО</a></li>
                    <li><a class="lilink" href="#">КОНТАКТЫ</a></li>
                </ul>
            </td>
            <td></td>
        </tr>

    </table>
</div>
<div id="rightcont">&nbsp</div>

<div id="content">
    <div id="leftcont">&nbsp</div>